.prueba {
  width: 100vw;
  height: 100vh;
  margin-top: 40%;
  /* display: table-cell; */
  /* vertical-align: middle; */
}

.spinners {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
}
